


h1 {
   color: #111;
   font-family: 'Helvetica Neue', sans-serif;
   font-size: 45px;
   font-weight: bold; l
   etter-spacing: -1px;
   line-height: 1;
   text-align: center;
}

.jumbotron {


background-image: url( http://i1.trekearth.com/photos/55473/te_octoberreflection.jpg);
color: white;
font-style: italic;
text-align: center;

}



.header {
  font-size: 20px;
   font-style: oblique;
  background-color:  #85cdfc

}

body{
background-color: #cccccc

}
